
.search-box {
    position: relative;
    &__icon {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        padding: 16px 20px;
    }
    input {
        border: 1px solid #999;
        padding: 1rem;
        width: 300px;
        padding-left: 40px;
    }
}
.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    background: #ffffff;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    overflow-y: auto;
    padding-left: 0;
    width: 100%;
    li {
        padding: 1rem;
    }
}
.suggestion-active,
.suggestions li:hover {
    background-color: #f3f3f3;
    color: #484848;
    cursor: pointer;
    font-weight: normal;
}

//Dark mode style

.darkmode {
    .suggestion-active {
        background: #232323;
        color: #ffffff;
    }
    .suggestions {
        background: #1B1B1B;
        color: #ffffff;
        li {
            &:hover {
                background: none;
                opacity: .7;
            }
        }
    }
    .search-box {
        &__icon {
            color: #ffffff;
        }
        input {
            color: #ffffff;
            background: #0E0E0E;
        }
    }
}